beautifulsoup4==4.5.1
cssselect==0.9.2
cycler==0.10.0
defusedxml==0.4.1
Django==1.9.6
feedfinder2==0.0.4
feedparser==5.2.1
gunicorn==19.6.0
idna==2.1
jieba3k==0.35.1
lxml==3.6.4
matplotlib==1.5.3
newspaper3k==0.1.7
nltk==3.2.1
numpy==1.11.2
oauthlib==2.0.0
Pillow==3.4.1
PyJWT==1.4.2
pyparsing==2.1.9
python-dateutil==2.5.3
python-social-auth==0.2.21
python3-openid==3.0.10
pytz==2016.7
PyYAML==3.12
requests==2.11.1
requests-file==1.4
requests-oauthlib==0.6.2
six==1.10.0
tldextract==2.0.1
whitenoise==3.2.1
