// refer to http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin
// for more info
@mixin mq($point, $IE9: false, $query1: min, $query2: width) {
    @if $IE9 == true{
        .lt-ie9 & {
            @content;
        }
    }

    @media only screen and (#{$query1}-#{$query2}: $point / $doc-font-size +em) {
        @content;
    }
}

// mixin for fonts
@mixin font_mixin($font_name, $font_weight: normal, $font_style: normal){
    @if($font_name == "bpicons"){
        font:{
            family:$font_name;
            weight:$font_weight;
            style:$font_style;
        }
        src: url('../fonts/bpicons/bpicons.eot');
        src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bpicons/bpicons.woff') format('woff'),
        url('../fonts/bpicons/bpicons.ttf') format('truetype'),
        url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');

    }@else if($font_name == "feather"){
        font:{
            family:$font_name;
            weight:$font_weight;
            style:$font_style;
        }
        src: url('../fonts/feather/feather.eot?1gafuo');
        src: url('../fonts/feather/feather.eot?1gafuo#iefix') format('embedded-opentype'),
        url('../fonts/feather/feather.woff2?1gafuo') format('woff2'),
        url('../fonts/feather/feather.ttf?1gafuo') format('truetype'),
        url('../fonts/feather/feather.woff?1gafuo') format('woff'),
        url('../fonts/feather/feather.svg?1gafuo#feather') format('svg');
    }@else if($font_name == "FontAwesome"){
        font:{
            family:$font_name;
            weight:$font_weight;
            style:$font_style;
        }
        src:url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
        src:url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')
        format('svg');
    }
}