$doc-font-size: 16;
$doc-line-height: 24;
$mobile: 320;
$tablet: 760;
$desktop: 1200;

// images
$icon-message :url("../../images/contact/cd-icon-message.svg");
$icon-required :url("../../images/contact/cd-required.svg");
$icon-email: url("../../images/contact/cd-icon-email.svg");
$icon-company: url("../../images/contact/cd-icon-company.svg");
$icon-user: url("../../images/contact/cd-icon-user.svg");
$icon-check: url("../../images/contact/cd-icon-check.svg");
$icon-radio: url("../../images/contact/cd-icon-radio.svg");
$icon-arrow: url("../../images/cd-arrow.svg");

