a {
  color: #f82f53;
  text-decoration: none !important; }

img {
  max-width: 100% !important; }

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90% !important;
  max-width: 1170px !important;
  margin: 0 auto !important; }

.cd-container:after {
  content: "" !important;
  display: table !important;
  clear: both !important; }

.cd-items {
  padding: 1em 0 !important; }

@media only screen and (min-width: 768px) {
  .cd-items {
    padding: 2em 0 0 !important; } }
@media only screen and (min-width: 1024px) {
  .cd-items {
    padding: 4em 0 0 !important; } }
.cd-item {
  position: relative !important;
  margin: 0 0 1em !important; }

.cd-item > img {
  display: block !important;
  width: 100% !important; }

@media only screen and (min-width: 768px) {
  .cd-item {
    width: 48% !important;
    float: left !important;
    margin: 0 4% 2em 0 !important; }

  .cd-item:nth-child(2n) {
    margin-right: 0 !important; } }
@media only screen and (min-width: 1024px) {
  .cd-item {
    width: 22% !important;
    float: left !important;
    margin: 0 4% 2.8em 0 !important; }

  .cd-item:nth-child(2n) {
    margin-right: 4% !important; }

  .cd-item:nth-child(4n) {
    margin-right: 0 !important; }

  .cd-item.empty-box::after {
    /* box visible as placeholder when the .cd-quick-view zooms in */
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #392c3f !important; } }
.cd-trigger {
  position: absolute !important;
  height: 50px !important;
  line-height: 50px !important;
  width: 100% !important;
  bottom: 0 !important;
  left: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
  text-align: center !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #ffffff !important;
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transition: opacity 0.2s, background-color 0.2s !important;
  -moz-transition: opacity 0.2s, background-color 0.2s !important;
  transition: opacity 0.2s, background-color 0.2s !important; }

.cd-trigger:hover {
  background-color: rgba(192, 192, 192, 0.5) !important; }

@media only screen and (min-width: 1024px) {
  .cd-trigger {
    /* always visible on small devices */
    visibility: visible !important;
    opacity: 1 !important; } }
@media only screen and (min-width: 1170px) {
  .cd-trigger {
    /* only visible on hover on big devices */
    opacity: 1 !important;
    visibility: visible !important; } }
@media only screen and (min-width: 1170px) {
  .no-touch .cd-item:hover .cd-trigger {
    opacity: 1 !important; }

  .touch .cd-item .cd-trigger {
    opacity: 1 !important; } }
.cd-quick-view {
  /* quick view non available on small devices */
  display: none !important; }

@media only screen and (min-width: 1024px) {
  .cd-quick-view {
    display: block !important;
    position: fixed !important;
    max-width: 900px !important;
    visibility: hidden !important;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0) !important;
    -moz-transform: translateZ(0) !important;
    -ms-transform: translateZ(0) !important;
    -o-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    will-change: left, top, width !important;
    z-index: 1 !important; }

  .cd-quick-view:after {
    content: "" !important;
    display: table !important;
    clear: both !important; }

  .cd-quick-view.is-visible {
    /* class added when user clicks on .cd-trigger */
    visibility: visible !important; }

  .cd-quick-view.animate-width {
    /* class added at the end of the first zoom-in animation */
    background-color: #ffffff !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: box-shadow 0.3s !important;
    -moz-transition: box-shadow 0.3s !important;
    transition: box-shadow 0.3s !important; } }
.cd-slider-wrapper {
  position: relative !important;
  display: inline-block !important;
  float: left !important; }

.cd-slider-wrapper:after {
  content: "" !important;
  display: table !important;
  clear: both !important; }

.cd-slider {
  float: left !important; }

.cd-slider li {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1 !important; }

.cd-slider li img {
  display: block !important;
  width: 100% !important;
  max-width: 400px !important; }

.cd-slider li.selected {
  position: relative !important;
  z-index: 3 !important; }

.add-content .cd-slider {
  margin-right: 3em !important; }

.cd-slider-navigation {
  opacity: 0 !important; }

.add-content .cd-slider-navigation {
  opacity: 1 !important; }

.cd-slider-navigation li {
  position: absolute !important;
  top: 50% !important;
  bottom: auto !important;
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  z-index: 3 !important; }

.cd-slider-navigation li:first-child {
  left: 0 !important; }

.cd-slider-navigation li:last-child {
  /* equal to the .cd-slider-wrapper margin-right */
  right: 3em !important; }

.cd-slider-navigation li a {
  display: block !important;
  width: 40px !important;
  height: 50px !important;
  overflow: hidden !important;
  text-indent: 100% !important;
  white-space: nowrap !important;
  opacity: 0 !important;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0) !important;
  -moz-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  -o-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -webkit-transition: opacity 0.2s, background 0.2s !important;
  -moz-transition: opacity 0.2s, background 0.2s !important;
  transition: opacity 0.2s, background 0.2s !important; }

.cd-slider-navigation li a::before, .cd-slider-navigation li a::after {
  /* create arrows in CSS */
  position: absolute !important;
  top: 18px !important;
  left: 14px !important;
  display: inline-block !important;
  background: #ffffff !important;
  height: 3px !important;
  width: 12px !important; }

.cd-slider-navigation li a::before {
  -webkit-transform: rotate(45deg) !important;
  -moz-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  -o-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important; }

.cd-slider-navigation li a::after {
  -webkit-transform: translateY(7px) rotate(-45deg) !important;
  -moz-transform: translateY(7px) rotate(-45deg) !important;
  -ms-transform: translateY(7px) rotate(-45deg) !important;
  -o-transform: translateY(7px) rotate(-45deg) !important;
  transform: translateY(7px) rotate(-45deg) !important; }

.add-content .cd-slider-navigation li a {
  opacity: 0.2 !important; }

.no-touch .cd-slider-navigation li a:hover {
  background: rgba(71, 55, 78, 0.8) !important;
  opacity: 1 !important; }

.touch .cd-slider-navigation li a {
  opacity: 1 !important; }

.cd-slider-navigation li:first-child a::before {
  -webkit-transform: rotate(-45deg) !important;
  -moz-transform: rotate(-45deg) !important;
  -ms-transform: rotate(-45deg) !important;
  -o-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important; }

.cd-slider-navigation li:first-child a::after {
  -webkit-transform: translateY(7px) rotate(45deg) !important;
  -moz-transform: translateY(7px) rotate(45deg) !important;
  -ms-transform: translateY(7px) rotate(45deg) !important;
  -o-transform: translateY(7px) rotate(45deg) !important;
  transform: translateY(7px) rotate(45deg) !important; }

.cd-item-info {
  position: absolute !important;
  padding: 3em 3em 3em 0 !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: opacity 0.3s, visibility 0s !important;
  -moz-transition: opacity 0.3s, visibility 0s !important;
  transition: opacity 0.3s, visibility 0s !important; }

.cd-item-info h2 {
  font-size: 28px !important;
  font-size: 1.75rem !important;
  color: black; }

.cd-item-info p {
  line-height: 1.6 !important;
  margin: 1em 0 !important;
  color: #67919c !important; }

.cd-item-info .cd-item-action li {
  display: inline-block !important;
  margin-right: 1em !important; }

.cd-item-info .cd-item-action li:first-child {
  margin-left: -4px !important; }

.cd-item-info .learn-more {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  border-radius: 0.25em !important;
  border: none !important;
  padding: 1em 3.5em !important;
  background-color: #f82f53 !important;
  color: #ffffff !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "PT Sans", sans-serif !important;
  font-size: 16px !important;
  font-size: 1.3rem !important;
  cursor: pointer !important; }

.add-content .cd-item-info {
  /* class added at the end of the width animation, used to show the content */
  position: relative !important;
  visibility: visible !important;
  opacity: 1 !important; }

.add-content .cd-item-info h2 {
  -webkit-animation: cd-slide-in 0.3s !important;
  -moz-animation: cd-slide-in 0.3s !important;
  animation: cd-slide-in 0.3s !important; }

.add-content .cd-item-info p {
  -webkit-animation: cd-slide-in 0.4s !important;
  -moz-animation: cd-slide-in 0.4s !important;
  animation: cd-slide-in 0.4s !important; }

.add-content .cd-item-info .cd-item-action {
  -webkit-animation: cd-slide-in 0.5s !important;
  -moz-animation: cd-slide-in 0.5s !important;
  animation: cd-slide-in 0.5s !important; }

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0) !important; }
  100% {
    -webkit-transform: translate3d(0, 0, 0) !important; } }
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translate3d(-40px, 0, 0) !important; }
  100% {
    -moz-transform: translate3d(0, 0, 0) !important; } }
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0) !important;
    -moz-transform: translate3d(-40px, 0, 0) !important;
    -ms-transform: translate3d(-40px, 0, 0) !important;
    -o-transform: translate3d(-40px, 0, 0) !important;
    transform: translate3d(-40px, 0, 0) !important; }
  100% {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    -o-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important; } }
.cd-close {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  display: inline-block !important;
  width: 30px !important;
  height: 30px !important;
  /* image replacement */
  overflow: hidden !important;
  text-indent: 100% !important;
  white-space: nowrap !important;
  visibility: hidden !important;
  -webkit-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s !important;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s !important;
  transition: transform 0.3s 0s, visibility 0s 0.3s !important; }

.cd-close::before, .cd-close::after {
  /* close icon in css */
  position: absolute !important;
  top: 12px !important;
  left: 5px !important;
  display: inline-block !important;
  height: 4px !important;
  width: 20px !important;
  background: #47374e !important;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important; }

.cd-close::before {
  -webkit-transform: rotate(45deg) !important;
  -moz-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  -o-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important; }

.cd-close::after {
  -webkit-transform: rotate(135deg) !important;
  -moz-transform: rotate(135deg) !important;
  -ms-transform: rotate(135deg) !important;
  -o-transform: rotate(135deg) !important;
  transform: rotate(135deg) !important; }

.no-touch .cd-close:hover {
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -ms-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
  transform: scale(1.2) !important; }

.add-content .cd-close {
  visibility: visible !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s !important;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s !important;
  transition: transform 0.3s 0s, visibility 0s 0s !important; }

/*# sourceMappingURL=blogpage.css.map */
