<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/classie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-2.1.4.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.mobile.custom.min.js')}}"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsUUZNoJFTrGHub1zDYL4zMz6ro1hxOyQ"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custommap.js')}}"></script>

<!--timeline-->
<script type="text/javascript" src="{{ url_for('static', filename='js/timeline.js')}}"></script>

<!--contact form-->
<script type="text/javascript" src="{{ url_for('static', filename='js/contactform.js')}}"></script>

<!--blogs and news-->
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/velocity.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/blogsnews.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
